.buttons
  & .button
    background-color #afa58d
    border-radius 4px
    color #fff
    display inline-block
    font-size 1.2rem
    letter-spacing 1px
    margin 10px
    padding 20px
    text-decoration none
    width 200px

    &:hover
      opacity 0.9

  & .button-showy
    // TODO: nest した button class を extends できるようにする
    // @extends & .button
    background-color #f1b400
