.header
  padding 170px 30px 80px

.site-title-sub
  font-size 2.2rem
  letter-spacing 1px
  margin 0 0 30px

  &::before,
  &::after
    background-color #fff
    content ''
    display inline-block
    height 2px
    margin 0 30px
    vertical-align middle
    width 140px

.site-title
  font-size 7.6rem
  margin 50px 0 40px

.site-description
  color #888
  font-size 1.6rem
  margin-bottom 50px

@media (max-width 768px)
  .header
    padding-top 60px

  .site-title-sub
    font-size 1.7rem

    &::before,
    &::after
      display block
      margin 10px auto
      width 80%

  .site-title
    font-size 5rem
    margin-top 35px
